@charset "UTF-8";

#logo {
    margin-left: 20px;
}

#botao {
    position:absolute;
    left:80%;
    height:50%;
    margin-top: -5%;
}

p {
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
}

#texto {
    margin-bottom: 50px;
}